<div class="jumbotron">
  <div class="container">
   <div style="margin-top: -1%;padding-left: 10%; padding-top: -10%" >
    
	
  <h3><div class="alert alert-success"> About the site</div></h3>
  <div>
    <p>This site is developed for the view of helps to educational purposes of the students in Faculty of Information Technology, 
	University of Moratuwa. With the use of the site the students can,</p>
	<ul>
	  <li>Download subject materials</li>
	  <li>Work with Questions and Answers</li>
	  <li>Message passing</li>
	  <li>Calculate GPA</li>
	  <li>Create Status</li>
	</ul>
	<p>In addition o that the informations of the students and a dictionary will be added as a further development</p>
  </div>
	
</div>
</div>
</div>