<div class="jumbotron">
  <div class="container">
   <div style="margin-top: -1%;padding-left: 10%; padding-top: -10%" >
    
	
  <h3><div class="alert alert-success"> Contact details of the developer</div></h3>
 <table class="table table-striped">
  <tr>
    <td>Name</td>
	<td>A K D M Karunarathne</td>
  </tr>
  <tr>
    <td>E-mail</td>
	<td>akdmkarunarathne@gmail.com</td>
  </tr>
  <tr>
    <td>Mobile Number</td>
	<td>07156xx9x8</td>
  </tr>
  
 </table>
	
</div>
</div>
</div>