<div class="jumbotron">
  <div class="container">
   <div style="margin-top: -1%;padding-left: 10%; padding-top: -10%" >
    
	
  <h3><div class="alert alert-success"> Help</div></h3>
  <div>
    <p>Any help for the use of site can asked from me by sending a mail or 
		   <a href ="http://localhost:3000/messages?page=1&type=out">Send Help request</a>
	       <br/>(Reply to : 114066x - A K D M Karunarathne)</p>
	
	<p>or any confuse, please send mail to : akdmkarunarathne@gmail.com</p>
  </div>
	
</div>
</div>
</div>