<div class="jumbotron">
  <div class="container">
   <div class="alert alert-info" style="margin-top: -1%;padding-left: 10%; padding-top: -10%" >
    
<h1>Welcome to the student information system</h1>
<p>Development done using Ruby on Rails</p>
<p>Still developing</p>
<p>A K D M Karunarathne</p>
	<p>
	   Please send your comments about the site together with what should be added, removed or modified to me<br/>
	   <a href ="http://localhost:3000/messages?page=1&type=out">Send Comments</a>
	   <br/>Reply to : 114066x - A K D M Karunarathne
	</p>
</div>
</div>
</div>