<div class="jumbotron">
  <div class="container">
   <div style="margin-top: -1%;padding-left: 10%; padding-top: -10%" >
    
<h3><div class="alert alert-success"> Privacy Statement of the site</div></h3>
  	
	Privacy statement for use where the web site maintains an identity for the visitor to provide continuity of identification between sessions.

The following discloses our information gathering and dissemination practices for this web site (www.uni.herokuapp.com).

<p><br/><b>Information gathering</b></p>

Our web server software generates logfiles of the IP addresses of computers that access this web site and of what files they access.

These web server logs are retained on a temporary basis and then deleted completely from our systems. We also may ask our visitors to provide information about themselves.

We may use cookies to maintain a user's identity between web sessions.

<p><br/><b>Use of information</b></p>

We do not provide any personally identifiable information we gather or develop about our visitors to any third parties for any purpose.

We use your IP address and files you access to help diagnose problems with our server and to administer our Web site by identifying (1) which parts of our site are most heavily used, and (2) which portion of our audience comes from within the Harvard network. We also use this information to tailor site content to user needs, and to generate aggregate statistical reports. At no time do we disclose site usage by individual visitors.

<p><br/><b>Security</b></p>

This site has security measures in place to protect the loss, misuse and alteration of the information under our control.

<p><br/><b>Contacting this web site</b></p>

If you have any questions about this privacy statement, the practices of this site, or your dealings with this site, you can contact: (insert your contact information)

This web site may contain links to other web sites. We are not responsible for the privacy practices or the content of such web sites.

<p><br/><b>Changes to this policy</b></p>

An announcement of any changes to this policy will be posted prominently on the first page of our web site for three months before any changes go into effect.

<p><br/><b>Effective Date</b></p>

The effective date of this policy was 14th December 2013.
<br/>
<br/>
<br/>
<br/>
<br/>
</div></div></div>