<div class="jumbotron">
  <div class="container">
   <div style="margin-top: -1%;padding-left: 10%; padding-top: -10%" >
    
	
  <h3><div class="alert alert-success">Still Developing(Terms, Blog and API Doc)</div></h3>
  <font color ="red">
    <p>Sorry, Request page is still developing</p>
  </font>
	
</div>
</div>
</div>